@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-fluid {
    height: 40vh;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;

}

h1 {
    color: red;
}

.rounded-circle {
    height: 20vh;
}

div i.fa-js {
    color: #efd81d;
    background-color: black;
}

div i.fa-sass {
    color: #c76494;
}

div i.fa-html5 {
    color: #dd4d2a;
}

div i.fa-css3-alt {
    color: #249cda;
}

div i.fa-github {
    color: #5e2683;
}

/* Pofolio*/
.home-background {
    background-image: url(../img/luca-micheli-673093-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
     
}


.background {
    background-image: url(../img/luca-micheli-673093-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}

.contact-background {
    background-image: url(../img/luca-micheli-673093-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150vh;


}
option{
    font-size: 1rem;
}


