@import url('https://fonts.googleapis.com/css?family=Charmonman');

.container-fluid {
    height: 40vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3.414rem;
    font-family: 'Charmonman', cursive, sans-serif;
    font-weight: bolder;
    color: gold;

}

h1 {
    color: red;
}

.rounded-circle {
    height: 20vh;
}

div i.fa-js {
    color: #efd81d;
    background-color: black;
}

div i.fa-sass {
    color: #c76494;
}

div i.fa-html5 {
    color: #dd4d2a;
}

div i.fa-css3-alt {
    color: #249cda;
}

div i.fa-github {
    color: #5e2683;
}
/* Pofolio*/

.background{
    background-image: url(../img/luke-pamer-7319-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

